Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/.idea.LaBoulangerie/.idea/.gitignore
.idea/.idea.LaBoulangerie/.idea/encodings.xml
.idea/.idea.LaBoulangerie/.idea/indexLayout.xml
.idea/.idea.LaBoulangerie/.idea/vcs.xml
.vsconfig
